body {
  min-height: 100vh;
  background-color: black;
  margin: 0;
  font-family: Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
    url(./assets/fonts/Nunito-Regular.ttf) format("truetype");
}
